

 body
{
  margin: 0;
text-align: center;

}
.page
{
width:100%;
height:100%;
border-width:0px;
border-height:0px;
}



.tab
{
  width:100%;
  height:6%;
  border-width:0px;
  border-height:0px;

}
hr
{
border-style: none;
border-top-style:dotted;
border-width:7px;
width:10%;}


.mainhead{
  font-size: 470%;
  width:50%
margin: 0 auto 0 auto;
font-family: 'Abel', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Grenze Gotisch', cursive;
color: e8505b;
text-shadow: 4px 4px 10px #ff847c}


.page
{
width:100%;
height:100%;
border-width:0px;
border-height:0px;
}
.smoldiv
{
height:400px;
width:600px;
border:1px solid;
background-color: black;
position: relative;
left:500px;
top:100px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



}

.tab
{
  width:100%;
  height:10%;
  border-width:0px;
  border-height:0px;
}
.loveheading
{
  font-size: 350%;
  width:50%;
  margin: 0 auto 0 auto;
  font-family: 'Satisfy', cursive;
  color: fe91ca;
   text-shadow: 4px 4px 10px #fe91ca;}
.horrorheading
{
  font-size: 350%;
  width:50%;
  margin: 0 auto 0 auto;
  font-family: 'Rye', cursive;
 color: dbd8e3;

 text-shadow: 4px 4px 10px grey;
}

.historictext
{font-size: 350%;
width:50%;
margin: 0 auto 0 auto;
font-family: 'Satisfy', cursive;
color: ffc60b;
font-family: 'Grenze Gotisch', cursive;
 text-shadow: 4px 4px 10px red;
}



.div1{
height:20px;
width:20px;
border-color: white;
position: relative;
top:110px;
left:140;
}
.div2
{height:20px;
width:20px;
border-color: white;
position: relative;
float:right;
top:110px;
right:140;}

.div3
{height:20px;
width:20px;
border-color: white;
position: relative;
top:500px;
left:140;
  }

.div4
{height:20px;
width:20px;
border-color: white;
position: relative;
float: right;
top:500px;
right:140;
float:right;}

p
{font-size: 40px;
   style="font-family:
    'Fondamento', cursive;
    color:e8505b;}
.button1
{

color: white;
background-color: #887D69;
width:100px;height:50px;
position: relative;
float:right;
border-radius: 12px;
top:-10;
border: 2px solid #C2504A;
transition-duration: 0.4s;
te
}
 .button1:hover
 {  background-color: #C2504A;
  color: white;
  width:100px;height:200px;
}
